@charset "UTF-8";

*{
    font: normal 15pt arial;
}
body{
    background-color: rgb(131, 197, 241);
    color: white;
}
header{
    color: white;
    text-align: center;
    font-size: larger;
}
section{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 5px 5px rgba(59, 58, 58, 0.322);
}
img{
    width: 350px;
    height: 400px;
}

footer{
    text-align: center;
}